.movie-card-main{
    border: solid 1px red;
    min-width: 100%;
    border-radius: 10px;
    padding: 1rem 2rem;

}

.top{
    display: flex;
    justify-content: space-between;
}

.middle{
    display: flex;
    justify-content: end;
}